

body {
    background-color: white;
    margin:0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    color: rgb(20, 20, 20);
    background: whitesmoke;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid lavender;
}

#button-stripe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#buttons {
    width: 180px;
    height: 100px;
    padding: 20px 0 0 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

span#mode {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


button {
    margin: 0;
    font: 1.4em 'Raleway', sans-serif;
    height: 40px;
    color: rgb(20, 20, 20);
    background: whitesmoke;
  
}

button.mode {
    width: 80px;
}

button#reset {
    width: 180px;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    /*TODO: Are these legit current properties?*/

}