* {
    color: dimgrey;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 7vh 0px 0px 0px;
    margin: 0;
    
}

/*TODO: Spacing between paragraphs, between ehadings, and between boxes is all over the place. Establish a common format. I suggest 10px after each of these elements and 20px above each main ehading.*/

/* Top Nav Bar 
TODO: Refine formatting*/

.top-nav-bar {
    /*TODO: Why is this no longer fixe?*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: solid 1px lavender;
}

.top-nav-bar > p {
     font-size: 1.0em;
     padding: 10px 2vw 10px 4vw;
}

.top-nav-bar ul {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw 10px 2vw;
}

.top-nav-bar li {
    padding: 0px 2vw 0px 2vw;
    display: flex;
    flex-flow: row nowrap;
}

.top-nav-bar a {
    text-decoration: none;
}

/* End Top Nav Bar*/


/*------------------------------------------------------------------*/


/* Header */

header{
    height: 86vh;
    width: 100vw;
    left: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
}


.hero {
    padding: 4vw 10px 4vw 10px;
    height: 50%;
    background-image: url("images/profile05.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


/*TODO: Better vertically align and space the header text */
.hero-text {
    padding: 15% 3% 0px 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: end;
    width: 55%;
    height: 80%;
}

.hero-text h1 {
    padding: 0px 10px 0px 0px;
    width: 100%;
    color: white;
    font-size: 2.0em;
    text-align: right;
}

.hero-text span.gummi {
    color: pink;
}

.hero-text span.code {
    color: lightcyan;
}


/*End Hero Image*/

/*Start Header Content*/

.header-content {
    height: 50%;
}

.header-text {;
    margin: 3vw;
}

.header-text p {
    margin: 0;
    line-height: 120%;
    font-size: 1.2em;
    padding: 2vh 2vh 0vh 2vh;
    background-color: white;
}

.punchy {
    font-weight: bold;
}

.header-links {
    padding: 3vh 0 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*Set the icon spacing*/
}

.header-links img {
    width: 15vw;
}

/* End Header Content*/

/* End Header --------------------------------------------------------------*/

/*Goto Bars & Goto Links*/

.goto-body {
    height: 7vh;
    width: 100vw;
    background-color: lavender;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

a.goto-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.goto {
    position: relative;
    top: -7vh;
}

/*End Goto Bars ------------------------------------------------------------*/

/*Section: text-body*/

.text-body{
    background-color: cornflowerblue;
    display: flex;
    flex-flow: column nowrap;
}


.section {
    height: 86vh;
    background-color: white;
}

h3 {
    height: 7vh;
    margin: 0;
    background-color: whitesmoke;
    border: 1px solid lavender;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.section-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    height: 83vh;

}

.section p {
    margin: 0;
    padding: 2vh 2vh 2vh 2vh;
    background-color: white;

}



h4 {
    border-top: 1px solid lavender;
    margin: 0;
    padding: 2vh 2vh 0vh 2vh;
    font-size: 1.2em;
}

h4:first-child {
    border-top: none;
}


.section { 
    display: flex;
    flex-flow: column nowrap;
}

/*Digital Art Section*/

.drawings {
    padding: 0 2vw 0 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;

}

.drawings img {
    /*TODO: MAke these imaes enlarge on click and window haze with dark grey. Include close button.*/
    width: 23%;
    border: 1px solid lavender;
    border-radius: 15pt;
}


/* Contact Section */

#contact-me {
    height: 86vh
}

.footer-links {
    padding: 3vh 0 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*Set the icon spacing*/
}
    
.footer-links img {
    width: 15vw;
}