* {
    color: dimgrey;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;

}



/*TODO: Spacing between paragraphs, between ehadings, and between boxes is all over the place. Establish a common format. I suggest 10px after each of these elements and 20px above each main ehading.*/

/* Top Nav Bar 
TODO: Refine formatting*/

.top-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: solid 1px lavender;
}

.top-nav-bar > p {
     font-size: 1.0em;
     padding: 10px 2vw 10px 4vw;
}

.top-nav-bar ul {
    font-size: 1.0em;
    list-style: none;
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw 10px 2vw;

}

.top-nav-bar li {
    padding: 0px 2vw 0px 2vw;
    display: flex;
    flex-flow: row nowrap;
}

/* TODO: Choose between rounded buttons/plain text for nav bar.
.top-nav-bar li {
    background-color: gainsboro;
    border-radius: 5pt;
}
 */

.top-nav-bar a {
    text-decoration: none;
}

/* Padding Body: To account for the nav bar */
body {
    padding: calc(30px + 2vh) 2vw 0px 2vw;
}

/* End Top Nav Bar*/


/* Header */
section.card {
/*TODO: Consider moving this to the bototm of the page and installing a HERO header isntead*/
    padding: 4vw 10px 4vw 10px;
    height: calc(50vh - 30px);
    border-radius: 15pt;
    margin-bottom: 40px;
    background-image: url("images/profile03.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: right;
    display: flex;
    flex-flow: row unwrap;
    justify-content: space-between;
    align-items: flex-start;
    
    /* Align contents to the top, max space in middle, 10px padding, row.
    That will put text and links box to left, and image to right.*/
}

section.details {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 60%;


    /* One large box. */
    /* Column, left alignment. */

}

section.details h1 {
    padding: 0px 10px 0px 0px;
    width: 50%;
    font-size: 2.4em;
    color: white;
}

section.details span.gummi {
    color: pink;
}

section.details span.code {
    color: lightcyan;
}

section.details p {
    line-height: 120%;
    font-size: 1.6em;
}

section.details p.statement {
    font-weight: bold;
}

section.details nav {
    flex-flow: row nowrap;
    /*Set the icon spacing*/
}

/*TODO: Set link icons to resize sensibly*/
section.details nav img, section.contact nav img {
    height:100px;
    width:100px;
}

section.details a, section.contact a {
    text-decoration: none;
    height:100px;
    width:100px;
}

img.profile-picture {
    /*My profile pic.*/
    /* Define the height to appropriately fit the header box.*/
    border-radius: 10%;
    width: 350px;
    height: 350px;
    padding: 20px 20px 20px 20px;
    /* Align it to the top of the box. */
    /* Give it a circular shape, chopping off the edges.*/
    /*Ensure the alignment of the image itself is such nthat your face is clearly visible. */
}

/* End Header*/


/*Sections*/

h3 {
    font-size: 1.6em;
}

h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

.section {
    width: 75%;
    min-width: 600px; 
    margin-bottom: 40px;
    display: flex;
    flex-flow: column wrap;
}


.subsection {
    margin: 0px;
    width: 100%;
    margin-bottom: 40px;
}


.subsection ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
}

.subsection li {
    margin: 0px;
    padding: 20px 50px 20px 20px;
    width: calc(100%-10px);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15pt;
    border: 1px solid lavender;
    background-color: whitesmoke;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
        
    /* Align contents to the top, max space in middle, 10px padding, row.
    That will put text and links box to left, and image to right.*/
    }

.subsection li h5 {
    margin: 0px;
}


/*Digital Art Section*/

.drawings {
    padding: 20px 50px 20px 20px;
    margin-bottom: 10px;
    border-radius: 15pt;
    border: 1px solid lavender;
    display: flex;
    flex-flow: row wrap;
    background-color: whitesmoke;
}

.drawings img {
    width: 30%;
    border: 1px solid lavender;
    border-radius: 15pt;
}




    /*Food section*/

    h4.subheading {
        padding: 20px 0px 0px 0px;
    }

section.list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.list-item p {
    width: 75%;
}

img.venue-logo {
    width: 150px;
    object-fit: contain;
    object-position: top;
}

img.venue-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15pt;
}




/* Contact Section */

section.contact {
    /*TODO: Consider moving this to the bototm of the page and installing a HERO header isntead*/
        padding: 20px 50px 20px 20px;
        width: calc(100%-10px);
        /*Box height: Flex to that of its contents * 10px padding. For now we're just using a 20% margin.*/
        margin: 10px;
        margin-bottom: 40px;
        /*Box width: Page width -10px padding%*/
        border-radius: 15pt;
        background-color: whitesmoke;
        /*Box border: Solid, curved corners, slightly derker gery than whitesmoke*/
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
        /* Align contents to the top, max space in middle, 10px padding, row.
        That will put text and links box to left, and image to right.*/
    }