* {
    color: dimgrey;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 7vh 0px 0px 0px;
    margin: 0;
    
}

/*TODO: Spacing between paragraphs, between ehadings, and between boxes is all over the place. Establish a common format. I suggest 10px after each of these elements and 20px above each main ehading.*/

/* Top Nav Bar 
TODO: Refine formatting*/

.top-nav-bar {
    /*TODO: Why is this no longer fixe?*/
    position: fixed;
    transition: 
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: solid 1px lavender;
}

.top-nav-bar > p {
     font-size: 1.0em;
     padding: 10px 2vw 10px 4vw;
}

.top-nav-bar ul {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw 10px 2vw;
}

.top-nav-bar li {
    padding: 0px 2vw 0px 2vw;
    display: flex;
    flex-flow: row nowrap;
}

.top-nav-bar a {
    text-decoration: none;
}

/* End Top Nav Bar*/



/* Header */

header{
    height: calc(100vh - 6vh);
    width: 100vw;
    left: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
}


section.hero {
    padding: 4vw 10px 4vw 10px;
    height: 44%;
    background-image: url("images/profile05.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


/*TODO: Better vertically align and space the header text */
section.hero-text {
    padding: 15% 3% 0px 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: end;
    width: 55%;
    height: 80%;
}

section.hero-text h1 {
    padding: 0px 10px 0px 0px;
    width: 100%;
    color: white;
    font-size: 2.0em;
    text-align: right;
}

section.hero-text span.gummi {
    color: pink;
}

section.hero-text span.code {
    color: lightcyan;
}


/*End Hero Image*/

/*Start Header Content*/

.header-content {
    height: 48%;
}

section.header-text {;
    margin: 3vw;
}

section.header-text p {
    line-height: 120%;
    font-size: 1.2em;
    padding: 1vh 0 1vh 0;
}

section.header-text p.statement {
    font-weight: bold;
}

nav.header-links {
    padding: 3vh 0 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*Set the icon spacing*/
}

nav.header-links img{
    width: 15vw;
}

.goto-body {
    height: 8%;
    background-color: lavender;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


/* End Header Content*/

/* End Header*/


/*Section: text-body*/

.text-body{
    background-color: cornflowerblue;
    display: flex;
    flex-flow: column nowrap;
}

.section {
    height: 100vh;
    background-color: white;
}


h3 {
    height: 8%;
    margin: 0;
    background-color: whitesmoke;
    border: 1px solid lavender;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.section-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    height: 84%;

}
.section p {
    margin: 0;
    padding: 2vh 2vh 2vh 2vh;
    background-color: white;

}


h4 {
    margin: 0;
    padding: 2vh 2vh 2vh 2vh;
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

.section { 
    display: flex;
    flex-flow: column nowrap;
}


.subsection {
    margin: 0px;
    width: 100%;
    margin-bottom: 40px;
}


.subsection ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
}

.subsection li {
    margin: 0px;
    padding: 20px 50px 20px 20px;
    width: calc(100%-10px);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15pt;
    border: 1px solid lavender;
    background-color: whitesmoke;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
        
    /* Align contents to the top, max space in middle, 10px padding, row.
    That will put text and links box to left, and image to right.*/
    }

.subsection li h5 {
    margin: 0px;
}


/*Digital Art Section*/

.drawings {
    padding: 20px 50px 20px 20px;
    margin-bottom: 10px;
    border-radius: 15pt;
    border: 1px solid lavender;
    display: flex;
    flex-flow: row wrap;
    background-color: whitesmoke;
}

.drawings img {
    width: 30%;
    border: 1px solid lavender;
    border-radius: 15pt;
}




    /*Food section*/

    h4.subheading {
        padding: 20px 0px 0px 0px;
    }

section.list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.list-item p {
    width: 75%;
}

img.venue-logo {
    width: 150px;
    object-fit: contain;
    object-position: top;
}

img.venue-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15pt;
}




/* Contact Section */

section.contact {
    /*TODO: Consider moving this to the bototm of the page and installing a HERO header isntead*/
        padding: 20px 50px 20px 20px;
        width: calc(100%-10px);
        /*Box height: Flex to that of its contents * 10px padding. For now we're just using a 20% margin.*/
        margin: 10px;
        margin-bottom: 40px;
        /*Box width: Page width -10px padding%*/
        border-radius: 15pt;
        background-color: whitesmoke;
        /*Box border: Solid, curved corners, slightly derker gery than whitesmoke*/
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
        /* Align contents to the top, max space in middle, 10px padding, row.
        That will put text and links box to left, and image to right.*/
    }